@media (min-width: 768px) {
   #menu {
        display: none;
   }
}
#navmenu {
	position: relative;
	background-color: #A89AD3 ;
}
.navbar-toggler{
	position: absolute;
	right:10px;
	top:10px;
}
h1 {
	position:relative;
	color:#3790F3 ;
}
#main-content{
	color:white;
	background-color: #130442 ;
	padding:20px;
	height:2000px;
	margin:20px;
}
